{{yield}}

<div class="col-xs-6 col-xs-offset-3">
  <label for="" style="padding-right:6px;">{{question.author}}</label> <a href="#">{{#link-to 'question' question.id}}<label for="">{{question.content}}</label>{{/link-to}}</a>
  <div class="well">
    {{question.notes}}
  </div>
</div>

{{#if showAnswerButton}}
  <div class="row">
    <div class="col-xs-2 col-xs-offset-8">
      <button class="btn btn-primary" {{action 'answerButtonClicked'}}>Answer</button>
    </div>
  </div>
{{/if}}

{{#if showAnswerArea}}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-4">
      <div class="row">
        <label for="author" style="padding-left:15px;">User Name
        <span style="padding-left:32em;"><span class="btn btn-danger" {{action 'clearFieldsAndReset'}}>x</span></span></label>
        <div class="row" style="padding-left:30px; padding-bottom:4px;">
          {{input value=author id="author"}}
        </div>
      </div>
      {{textarea cols="80" rows="6" value=content id="content"}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-7">
      <button class="btn btn-info" {{action 'submitAnswer'}}>Submit</button>
    </div>
  </div>
{{/if}}

<div class="row" style="padding-top:42px;">
  <div class="col-xs-6 col-xs-offset-3">
      <h3>Answers</h3>
    <div class="well">
      <ul>
      {{#each question.answers as |answer|}}
        <li>
          <div class="container">
            <span class="label label-default">{{answer.author}}</span>
            <div class="container">
              <p>{{answer.content}}</p>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
    </div>
  </div>
</div>
