{{yield}}

<div class="row">
  <div class="col-xs-1 col-xs-offset-2">
    <div class="" style="margin-top:5em; margin-left:5em;">
      <span class="glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true" {{action 'upvote' question}}></span>
      <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true" {{action 'downvote' question}}></span>
      <span>{{question.votes}}</span>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="row">
      <div class="">
        <label for="" style="padding-right:6px;">{{question.author}}</label>
        <div class="well">
          <h2><a href="#">{{#link-to 'question' question.id}}<label for="">{{question.content}}</label>{{/link-to}}</a></h2>
        </div>
      </div>
    </div>
  </div>  
</div>
